.main {
  padding: 5rem;
  h1{
    font-size: 1.5rem;
  }
}

.faqList {
  display: grid;
  gap: 2rem;
}

.faqItem {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  .question {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(40, 40, 40);
    position: relative;
    cursor: pointer;
    .caret{
      position: absolute;
      right: 0;
      cursor: pointer;
      display: inline;
    }
  }

  .answer {
    font-size: 1rem;
    padding-top: 5px;
    color: #747474;
    cursor: pointer;
  }
}
