@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.footer {
  color: #666666;
  padding: 2rem 5rem;
  font-size: 1.5rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  .separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #ccc, transparent);
    margin: 20px 0;
  }

  .footerContent {
    @include flex(center, space-between, null, null);
    flex-wrap: wrap;

    .left {
      flex: 1;
      text-align: left;
      margin-bottom: 10px;
    }

    .right {
      display: flex;
      gap: 20px;
      flex: 1;
      justify-content: flex-end;

      a {
        color: #666666;
        text-decoration: none;

        &:hover {
          color: $secondary-light;
        }
      }
    }

    @media (max-width: 765px) {
      @include flex(center, center, column, null);
    }
  }
}