@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.videoCall {
  width: 500px;
  height: 500px;
  @include position(fixed, 50%, 50%, 50%, 50%, -50%, -50%);
  z-index: 99999;
}

.main {
  max-width: 90rem;
  margin: 90px auto 0;

  @include sm {
    margin: 8vh auto 0;
  }

  max-height: 80vh;
  background-color: #f1f1f1;
  border-radius: $border-md;
  overflow-y: clip;

  .msgArea {
    position: relative;
    height: 76vh;

    @include md {
      height: 75vh;
    }
    @include sm {
      height: 80vh;
    }
    @include xs {
      height: 80vh;
    }

    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    .joinedNotification {
      text-align: center;
      font-size: 2rem;
      margin: 10px 0;
    }

    .messages {
      display: flex;
      flex-direction: column;

      .msgBox {
        height: fit-content;
        max-width: 60%;
        width: fit-content;
        line-height: 2.3rem;
        font-size: 1.6rem;
        color: rgba(0, 0, 0, 0.9);
        font-weight: 420;
        border-radius: 20px;
        padding: 12px;
        margin: 9px;
        font-size: 1.4rem;
        position: relative;

        @include sm {
          font-size: 1.7rem;
        }
      }

      .incomingMsg {
        color: rgba(0, 0, 0, 0.9);
        background-color: $secondary-light;
        align-self: flex-start;
        margin-left: 20px;
        border-radius: 20px 20px 20px 0px;
      }

      .outgoingMsg {
        color: rgba(255, 255, 255, 0.9);
        background-color: $primary-light;
        align-self: flex-end;
        margin-right: 20px;
        border-radius: 20px 20px 0px 20px;
      }
    }

    .form {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 12vh;
      max-width: 90rem;
      background-color: $light;
      box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.2);
      .row {
        @include flex(center, flex-start, row, 1.2rem);
        margin: 0 2rem;

        .icons {
          @include flex(center, flex-start, row, 3rem);
          font-size: 2.2rem;
          cursor: pointer;
        }

        .inputMsg {
          width: 100%;
          padding: 0.8rem 3rem;
          margin: 20px 0;
          letter-spacing: 0.5px;
          outline: none;
          border: none;
          resize: none;
          cursor: text;
          border-radius: $border-md;
          background-color: #e1e1e1;
          font-size: 1.6rem;
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: #d1d1d1;
          }
        }

        .send {
          height: 40px;
          width: 13rem;
          color: $light;
          font-weight: $weight-semibold;
          letter-spacing: 0.5px;
          outline: none;
          border: none;
          background-color: $secondary-light;
          transition: background-color 0.2s ease-in-out;
          border-radius: $border-lg;
          pointer-events: all;
          opacity: 1;
          cursor: pointer;

          @include sm {
            font-size: 1.6rem;
          }

          &:hover {
            background-color: $primary-light;
          }

          @include sm {
            padding: 0 10px;
          }

          @include md {
            border-radius: $border-md;
          }
        }

        .heart {
          font-size: 30px;
          color: $primary-light;
          cursor: pointer;

          @include sm {
            font-size: 7rem;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
